﻿* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Open Sans', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

ul {
    list-style-type: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.content {
    min-height: 200px;
}

.company-info li {
    display: inline-block;
}

.col-lg-6 {
    width: 50%;
    float: left;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header .container {
    max-width: 1400px;
    position: static;
}

@media (min-width: 992px) and (max-width: 1400px) {
    .header .container {
        max-width: calc(100% - 30px)
    }
}

.header .container .row {
    position: relative
}

.header {
    line-height: 65px;
    vertical-align: middle;
    background-color: black;
    color: white;
}

    .header ul.company-info {
        font-size: 16px
    }

.footer {
    bottom: 0;
    width: 100%;
}

.vAlignCenter {
    vertical-align: middle;
}

.titleItem {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0 40px;
}

.iconButton {
    display: inline-block;
    margin: 0 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

    .iconButton img {
        padding: 24px 79px;
    }

.iconName {
    display: inline-block;
    color: #222C90;
    margin-bottom: 15px;
}

.logo-spliter {
    padding-left: 15px;
}

.footer {
    font-size: 13px;
    line-height: 1em;
    background: #470A68;
    background: #444;
    color: rgba(255, 255, 255, 0.75);
    padding: 100px 0;
    padding: 80px 0;
    margin-top: 100px
}

    .footer a:link,
    .footer a:visited {
        color: rgba(255, 255, 255, 0.75)
    }

    .footer a:hover,
    .footer a:active {
        color: #fff;
        text-decoration: underline
    }

    .footer ul {
        list-style: none;
        margin: 0;
        padding: 0
    }

        .footer ul li {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            line-height: 25px
        }

        .footer ul.company-info {
            font-size: 12px
        }

            .footer ul.company-info li:first-child {
                padding: 10px 15px 10px 0;
                border-right: 1px solid rgba(255, 255, 255, 0.5);
                margin: 0 10px 0 0;
            }

.header ul.company-info li:first-child {
    margin-right: 15px;
}

.footer ul.company-info li:first-child a.gc-logo {
    font-size: 44px;
    color: #fff;
    text-decoration: none
}

.footer ul.util-nav {
    display: inline-block
}

    .footer ul.util-nav li {
        line-height: 1em;
        padding: 0 8px;
        border-right: 1px solid rgba(255, 255, 255, 0.5)
    }

        .footer ul.util-nav li:first-child {
            padding-left: 5px
        }

        .footer ul.util-nav li:last-child {
            border: 0
        }

@media only screen and (max-width: 768px) {
    .footer {
        padding: 50px 0
    }

        .footer ul.company-info {
            margin-bottom: 30px
        }

            .footer ul.company-info li {
                width: 49%;
                text-align: right;
                vertical-align: top
            }

                .footer ul.company-info li:first-child {
                    border: 0;
                    text-align: left
                }
}

@media only screen and (max-width: 736px) {
    .footer ul.company-info {
        margin-bottom: 25px
    }

        .footer ul.company-info li {
            display: block;
            width: auto;
            text-align: left
        }
}

@media only screen and (max-width: 414px) {
    .footer ul.util-nav li {
        padding: 0 6px
    }
}

.footer .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 992px) and (max-width: 1400px) {
    .footer .container {
        max-width: calc(100% - 30px)
    }
}

.headerSpliter {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 45px;
    display: inline-block;
    width: 1px;
    position: relative;
    left: -4px;
}
